<h1>Leagues</h1>

<table>
	<tr>
		<th>Day of the week</th>
		<th>Number of weeks</th>
		<th>Number of sheets</th>
		<th>League Manager</th>
	</tr>

	<% @leagues.each do |league| %>
		<tr>
			<td><%= league.day_of_the_week %></td>
			<td><%= league.length %></td>
			<td><%= league.sheets %></td>
			<td><%= league.manager %></td>
      <td><%= link_to 'View', league_path(league) %></td>
			<td><%= link_to 'Edit', edit_league_path(league) %>
      <td><%= link_to 'Delete', league_path(league), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Create New League', new_league_path %>