<h1>All Games</h1>

<%= link_to 'Back to the league', league_path(@league) %>

<table>
  <tr>
    <th>Start Time</th>
    <th>Sheet</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.start_date %></td>
      <td><%= game.start_time %></td>
      <td><%= game.sheet %></td>
      <td><%= link_to 'View', league_game_path(@league, game) %></td>
      <td><%= link_to 'Edit', edit_league_game_path(@league, game) %></td>
      <td><%= link_to 'Delete', league_game_path(@league, game), method: :delete, data: { confirm: 'Are you sure>'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new game', new_league_game_path(@league) %>