<h1>Update <%= @player.full_name %></h1>

<%= form_with model: [@league, @team, @player] do |form| %>
    <p>
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </p>
    <p>
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </p>
    <p>
      <%= form.label :position %>
      <%= form.text_field :position %>
    </p>
    <p>
      <%= form.check_box :member %>
      <%= form.label :member, "currently a member?" %>
    </p>
    <p>
      <%= form.submit %>
    </p>

<% end %>