<h1><%= @player.first_name %> <%= @player.last_name %></h1>

<table>
  <tr>
    <td><strong>First Name</strong></td>
    <td><%= @player.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name</strong></td>
    <td><%= @player.last_name %></td>
  </tr>
  <tr>
    <td><strong>Position</strong></td>
    <td><%= @player.position %></td>
  </tr>
  <tr>
    <td><strong>Current Member?</strong></td>
    <td><%= @player.member %></td>
  </tr>
</table>

<%= link_to 'Back to Team', league_team_path(@league, @team) %>
<%= link_to 'Edit', edit_league_team_player_path(@league, @team, @player) %>
<%= link_to 'Delete', league_team_player_path(@league, @team, @player), method: :delete, data: { confirm: 'Are you sure?'} %>